@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,900");
*,
html {
  font-family: "Nunito", sans-serif; }

h1 {
  color: #000;
  text-align: center; }

p {
  color: #000;
  font-size: 12px;
  text-align: center; }
